/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 html, body {
  background-color: #001F3F;
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
  color: white;
}

video {
  margin: auto auto auto 20%;
  position: relative;
  top: -100px;
}

.center {
  text-align: center;
  margin-top: 100px;
  color: white !important;
}

.center h1,
.center label {
  color: white;
}


.center input {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 2em;
}

.center label {
  font-size: 2.0em;
}

#notice {
  border: 1px solid black;
  height: 50px;
  text-align: center;
  background: #2ECC40;
  color: white;
  font-size: 1.5em;
}

img {
  height: 200px;
}

.down {
  transform: rotate(180deg) translate(-1%,-1%);
  -webkit-transform: rotate(180deg) translate(-1%,-1%);
  -ms-transform: rotate(180deg) translateX(-1%,-1%);
}

.show {
  background-color: #85144B;
}

#error_explanation {
  margin: auto;
  font-size: 2em;
}

#error_explanation {
  background-color: #9E7E7E;
}

#error_explanation h2 {
  font-size: 1.5em;
  text-align: center;
}

#error_explanation li {
  margin-top: 10px;
  font-size: 2em !important;
  list-style-type: none !important;
  line-height: 30px;
}

.field_with_errors {
  background-color: transparent;
  margin: auto;
}

.field_with_errors #user_password {
  width: 105%;
}

